body {
    font-family: Arial;
    padding: 20px;
    background-color: #f9f9f9;
}
header {
    background-color: #004080;
    color: white;
    padding: 10px;
}
nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
main {
    margin-top: 20px;
}
